*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*min-height: 100vh;*/
    background-color: #081b29;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    padding: 20px 100px;
    align-items: center;
    background-color: #041724;
}
.header>a{
    text-decoration: none;
    color: white;
    margin:0px 4px;
    font-size: 20px;
    font-weight:800; 
}
.header nav>a{
    text-decoration: none;
    color: white;
    margin: 0px 4px;
    font-size: 15px;
    font-weight:100;
    margin-right: 20px;
}
.header nav>a:hover{
    /* text-decoration: underline; */
    color: #0ef;
}
.first{
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
    padding-bottom: 20vh;
    display: flex;
    align-items: center;
    padding-top: 10%;
}
.middle-lft{
    position: relative;
    width: 60%;
    float: left;
    margin-left: 5vh;
}
.middle-lft .form-class{
    position: relative;
}
.formx{
    margin-left: 100px;
    color: white;
}
.intro{
    margin-top: 0px;
}
.intro h2{
    text-align:left;
    font-size: 26px;
    font-weight: 700;
}.intro h1{
    padding: 04px 0;
    text-align: left;
    font-size: 35px;
    font-weight: 800;
}
.domain h3{
    font-size: 28px;
    font-weight:700;
    /* color:deepskyblue; */
}
.formx p{
    margin-top: 25px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    text-align: justify;
}

.buttons{
    margin-top: 35px;
}
.buttons button{
    width:30%;
    /* color: #0ef; */
    border-color: #0ef;
    margin-right:30px;
    padding:10px;
    border-radius: 10px;
    background-color:#081b29;
    cursor: pointer;
    color: #0ef;
    font-size: 15px;
    font-weight: 600;
    border-width: 3px;
    box-shadow: 2px 2px 20px #0ef;
}
/* .buttons button>a{
    text-decoration: none;
    color: deepskyblue;
} */
.buttons button:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0px 0px;
}
.gooey{
    width:  24vw;
    height: 24vw;
    position: absolute;
    margin: 66%;
    border-radius: 50%;
    /* background-color: #045de9; */
    background: linear-gradient( to top, #01317B, #4FDAFF);
    filter: blur(15px);
    animation-name: gooey;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes gooey{
    form{
        transform: translate(5%,-5%) skew(0);
    }
    to{
        transform: translate(-5%,5%) skew(-15deg);
    }
}

.mid-ext{
    margin-left: 40px;
}
.mid-container{
    border: solid #0ef;
    border-width: 9px;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    box-shadow: 1px 1px 30px #0ef;
    /* margin-right: 100px; */
}
.middle-rgt{
    float: right;
}
.middle-rgt>img{ 
    height: 61vh;
    position: relative;
    margin: -20% -18%;
}
/*--------------------------------------------------------------------------- */
.second{
    height: 100vh;
    width: 100%;
    position: relative;
}
.about{
    position: absolute;
    height: 80vh;
    width: 90%;
    margin: 10vh 5%;
}
.pfp{
    position: absolute;
    border: solid #0ef;
    border-width: 9px;
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    box-shadow: 1px 1px 30px #0ef;
    margin: 10vh 5%;
}
.pfp>img{
    height: 61vh;
    margin: -15% 5%;
}
.gooey2{
    width:  24vw;
    height: 24vw;
    position: absolute;
    margin: 23vh 10%;
    border-radius: 50%;
    /* background-color: #045de9; */
    background: linear-gradient( to top, #01317B, #4FDAFF);
    filter: blur(15px);
    animation-name: gooey;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.me{
    width: 45%;
    color: white;
    margin: 10% 42%;
    text-align: justify;
}
.me h1{
    font-size: 38px;
    font-weight: 800;
    padding: 5px;
}
.me h3{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 25px;
}
.me button{
    border-color: #0ef;
    height: 7vh;
    width: 17vh;
    border-radius: 50px;
    margin: 5% 10%;
    background-color: #081b29;
    box-shadow: 2px 2px 20px #0ef;
    color: #0ef;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

.me button:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0px 0px;
}

/* ---------------------------------------------------------------------------------- */
.third{
    height: 100vh;
    width: 100%;
}
.skills{
    height: 90vh;
    width: 90%;
    margin: 5vh 5%;
}
.top{
    height: 12vh;
    width: 100%;
}
.top h1{
    text-align: center;
    color: White;
    font-size: 45px;
    font-weight: 800;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 7%;
    margin-top: 7%;
}
.card1{
    height: 55vh;
    width: 23%;
    border-radius: 10px;
    background-color: #515159;
    box-shadow: -5px 5px 30px black;
}
.card1 i{
    font-size: 35px;
    width: 100%;
    text-align: center;
    color: #0ef;
    padding-top: 10% ;
}
.card1 h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 5%;
}
.card1 p{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
    color: white;
    font-size: 15px;
}
.card1 button{
    border-color: #0ef;
    height: 7vh;
    width: 17vh;
    border-radius: 50px;
    margin: 10% 30%;
    background-color: #081b29;
    box-shadow: 2px 2px 20px #0ef;
    color: #0ef;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
.card1 button:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 2px 2px 20px #081b29;
}
.card2{
    /* border: 1px solid red; */
    height: 55vh;
    width: 23%;
    border-radius: 10px;
    background-color: #515159;
    box-shadow: -5px 5px 30px black;
}
.card2 i{
    font-size: 35px;
    width: 100%;
    text-align: center;
    color: #0ef;
    padding-top: 10% ;
}
.card2 h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 5%;
}
.card2 p{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
    color: white;
    font-size: 15px;
}
.card2 button{
    border-color: #0ef;
    height: 7vh;
    width: 17vh;
    border-radius: 50px;
    margin: 10% 30%;
    background-color: #081b29;
    box-shadow: 2px 2px 20px #0ef;
    color: #0ef;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
.card2 button:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 2px 2px 20px #081b29;
}
.card3{
    /* border: 1px solid red; */
    height: 55vh;
    width: 23%;
    border-radius: 10px;
    background-color: #515159;
    box-shadow: -5px 5px 30px black;
}
.card3 i{
    font-size: 35px;
    color: #0ef;
    text-align: center;
    width: 100%;
    padding-top: 10%;
}
.card3 h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 5%;
}
.card3 p{
    margin-top: 5%;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    color: white;
    font-size: 15px;
}
.card3 button{
    border-color: #0ef;
    height: 7vh;
    width: 17vh;
    border-radius: 50px;
    margin: 10% 30%;
    background-color: #081b29;
    box-shadow: 2px 2px 20px #0ef;
    color: #0ef;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
.card3 button:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 2px 2px 20px #081b29;
}
/* --------------------------------------------------------------------------------------- */

.fourth{
    height: 100vh;
    width: 100%;
}
.project-container{
    height: 90vh;
    width: 80%;
    margin: 5vh 10%;
}
.myproj{
    height: 12vh;
    width: 100%;
}
.myproj h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: white;
}
.project{
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 7%;
}
.project .pro{
    position: relative;
    height: 65vh;
    width: 27%;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: -5px 5px 30px black;
    overflow: hidden;
    display: flex;
}
.pro img{
    transition: 0.5s ease;
}
.pro:hover img{
    transform: scale(1.1);
}
.pro .pro-layer{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.4), #0ef);
    color: white;
    text-align: center;
    /* transform:translateY(100%); */
    /* transition: 0.5 ease; */
}
.pro-layer h3{
    font-size: 25px;
    font-weight: 800;
    padding: 10% 0;
    margin-top: 40%;    
}
.pro-layer p{
    font-size: 13px;
    text-align: center;
}
.pro-layer button{
    border-color: #0ef;
    height: 7vh;
    width: 17vh;
    border-radius: 50px;
    margin: 10% 30%;
    background-color: #0ef;
    color: #081b29;
    box-shadow: 2px 2px 20px #0ef;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
.pro-layer button:hover{
    background-color: #081b29;
    color: #0ef;
    box-shadow: 2px 2px 20px #081b29;
}





/* ---------------------------------------------------------------------------------- */
footer{
    position: relative;
    padding: 15px 100px;
    /* height: 15vh; */
    clear: both;
    color: aliceblue;
    background-color: #041724;
}
footer .icons{
    display: flex;
    position: relative;
    /* margin-left:100px; */
    gap: 3%;
}
footer .icons i{
    font-size: 20px;
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 9px;
    margin: 2% 0;
    cursor: pointer;
}
footer .icons i:hover{
    background-color: #0ef;
    color: #081b29;
}