*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{ 
    justify-content: center;
    align-items: center;
    background-color: #081b29;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    padding: 20px 100px;
    align-items: center;
    background-color: #041724;
}
.header>a{
    text-decoration: none;
    color: white;
    margin:0px 13px;
    font-size: 20px;
    font-weight:800; 
}
.header nav>a{
    text-decoration: none;
    color: white;
    margin: 0px 4px;
    font-size: 15px;
    font-weight:100;
    margin-right: 20px;
}
.header nav>a:hover{
    /* text-decoration: underline; */
    color: deepskyblue;
}
.page{
    height: 100vh;
    background-color: #081b29;
}
.container{
    display: flex;
    gap: 10px;
    position: absolute;
    margin-top: 5vh;
}
.form{
    height: 100vh;
    width: 50%;
}
.para p{
    color: white;
    font-family: sans-serif;
    font-size:xx-large;
    font-weight: 800;
    margin-left: 110px;
    margin-top: 70px;
    justify-content: center;
}
.info input{
    background-color: #081b29;
    color: white;
} 
.info ::placeholder{
    font-family: sans-serif;
    font-size:15px;
    color: white;
    /* padding:0 10%; */
}
.info input[type="text"]{
    padding:0 5%;
}
.form1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 90px;
    gap: 10px;
}
.form2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 90px;
    gap: 10px;
}
.top1{
    border: 1px solid deepskyblue;
    height: 40px;
    width: 45%;
    border-radius: 10px;
    border-width: 3px;
    text-align: left;
}
.top2{
    border: 1px solid deepskyblue;
    height: 40px;
    width: 45%;
    border-radius: 10px;
    border-width: 3px;
    text-align: left;
}
.top3{
    border: 1px solid deepskyblue;
    height: 40px;
    width: 45%;
    border-radius: 10px;
    border-width: 3px;
    text-align: left;
}
.top4{
    border: 1px solid deepskyblue;
    height: 40px;
    width: 45%;
    border-radius: 10px;
    border-width: 3px;
    text-align: left;
}
.form3{
    border: 1px solid deepskyblue;
    height: 80px;
    width: 78%;
    margin: 10px 18%;
    border-radius: 10px;
    border-width: 3px;
    text-align:left;
}
.sub{
    border: 1px solid deepskyblue;
    border-width: 3px;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    margin-top: 20px;
    margin-left: 48%;
    color: deepskyblue;
}
.info .sub:hover{
    background-color: deepskyblue;
    color: #081b29;
}
.info input:hover{
    opacity: 0.8;
}
.circle{
    height: 100vh;
    width: 50%;
    /* border: 1px solid aquamarine; */
}
.inner-circle{
    position: absolute;
    border: solid deepskyblue;
    border-width: 9px;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    margin: 5% 12%;
}
/* .inner-circle:hover{
    background-color: deepskyblue;
    border-color: #081b29;
} */
.inner-circle>.p1{
    color: white;
    text-align: center;
    margin-top: 42%;
    font-family: sans-serif;
    font-size:xx-large;
    font-weight: 800;
}
.thanks{
    width: 100%;
}
footer{
    position: relative;
    height: 15vh;
    clear: both;
    color: aliceblue;
    margin-top: 70px;
    background-color: #041724;
}
footer .icons{
    display: flex;
    position: relative;
    place-items: center;
    margin-left:100px;
    gap: 3%;
}
footer .icons i{
    font-size: 20px;
    color: deepskyblue;
    border: 2px solid deepskyblue;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 9px;
    margin: 2% 0;
    cursor: pointer;
}
footer .icons i:hover{
    background-color: deepskyblue;
    color: #081b29;
}